body{
    margin:0;
    padding: 0;
    height: 100%;
    width:100%;
}

nav a:hover{
    background-color: yellowgreen;
    display: inline-block;
    transition: 0.8s all;
}
html{
    height: 100vh;
    width: 100%;
    background-image: url("images/10.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url("images/11.jpg");
    }20%{
        background-image: url("images/12.jpg");
    }40%{
        background-image: url("images/9.jpg");
    }60%{
        background-image: url("images/14.jpg");
    }80%{
        background-image: url("images/15.jpg");
    }100%{
        background-image: url("images/10.jpg");
    }

}